/* 
-----------------------------
-----------------------------
------HH-------------HH-----
------HH-------------HH------
------HH-------------HH------
-----------------------------
---HH-------------------HH---
----HHH---------------HHH----
------HHHHHHHHHHHHHHHHH------
-----------------------------
-----------------------------


CSS TABLE OF CONTENTS

# GLOBAL STYLES
    # GLOBAL VARIABLES
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOOBAL MEDIA

#LAYOUT
    # MEDIA QUERIES / BREAKPOINTS
    # CONTAINER
    # GRID

# SITE STRUCTURE
    # HEADER
        # LOGO 
        # SITE-NAV
            #TOGGLE MENU
        #SITE-HEADER-ON-TOP-OF-HERO
# UI COMPONENTS
    # BUTTONS
    # CARDS

-----------------------------
-----------------------------
------HH-------------HH-----
------HH-------------HH------
------HH-------------HH------
-----------------------------
------HHHHHHHHHHHHHHHHH------
----HHH---------------HHH----
---HH-------------------HH---
-----------------------------
-----------------------------
*/

/* GLOBAL VARIABLES */

:root {
    --color-body-background: rgba(243, 239, 208, 1);
    --color-text-body: rgba(255, 255, 255, 0.8);
    --color-text-headings: rgb(0 0 0 / .8);
    --color-links: rgba(255, 255, 255, .8);
    --color-links-hover: rgb(173, 173, 173);
    --color-links-light: rgba(255, 255, 255, .8);
    --color-links-dark: rgb(0 0 0 / .8);
    --color-siteheader-links: rgba(243, 239, 208, 1);
    --color-siteheader-background: rgb(244, 164, 96);
    --color-hero-background: rgb(244, 164, 96);
    --color-hero-text: rgba(255, 255, 255, .8);
    --color-sitefooter-background: rgb(244, 164, 96);
    --color-sitefooter-text: rgba(255, 255, 255, .8);
    --color-sitefooter-links: rgba(255, 255, 255, .8);

    --font-body: system-ui, Helvetica, Arial, sans-serif;
    --font-headings: system-ui, Georgia, serif;

    --container-width: 1200px;
    --unit-small: 1em;
    --unit-medium: 2em;
    --unit-large: 4em;
}

/* GLOBAL RESET */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* GLOBAL COLORS */

body {
    background-color: var(--color-body-background);
    color: var(--color-text-body);
}

h1,
h2,
h3 {
    color: var(--color-text-headings);
}

a {
    color: var(--color-links);

    &:hover {
        color: var(--color-links-hover);
    }
}

/* GLOBAL TYPOGRAPHY */

body {
    font-family: var(--font-body);

    line-height: 1.4;
}

h1,
h2,
h3 {
    font-family: var(--font-headings);

}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

h2 {
    font-size: 2em;
    line-height: 1.2;
}

h3 {
    font-size: 1.5em;
    line-height: 1.3;
}

p {
    max-width: 65ch;

    text-wrap: pretty;
}

/* GLOOBAL MEDIA */

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */

/* SMALL SCREEN 768px */

body {
    font-size: 87.5%;
}

/* MEDIUM SCREEN 1200px */

@media (min-width: 768px) {
    body {
        font-size: 100%;
    }
}


/* LARGE SCREEN +1200px */

@media (min-width: 1200px) {
    body {
        font-size: 112.5%;
    }
}

.container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

/* GRID */

.row {
    --gridgap: 2em;
}

.row>* {
    margin-top: var(--gridgap);
    margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap)
    }

    .one-half {
        grid-column: auto / span 6;
    }

    .one-third {
        grid-column: auto / span 4;
    }

    .two-thirds {
        grid-column: auto / span 8;
    }

    .one-fourth {
        grid-column: auto / span 3;
    }

    .three-fourths {
        grid-column: auto / span 9;
    }

    /* 12 COLUMN */
    .col-1 {
        grid-column: auto / span 1;
    }

    .col-2 {
        grid-column: auto / span 2;
    }

    .col-3 {
        grid-column: auto / span 3;
    }

    .col-4 {
        grid-column: auto / span 4;
    }

    .col-5 {
        grid-column: auto / span 5;
    }

    .col-6 {
        grid-column: auto / span 6;
    }

    .col-7 {
        grid-column: auto / span 7;
    }

    .col-8 {
        grid-column: auto / span 8;
    }

    .col-9 {
        grid-column: auto / span 9;
    }

    .col-10 {
        grid-column: auto / span 10;
    }

    .col-11 {
        grid-column: auto / span 11;
    }

    .col-12 {
        grid-column: auto / span 12;
    }


    /* CENTERED COLUMNS */
    .one-half.centered {
        grid-column: 4 / span 6;
    }

    .one-third.centered {
        grid-column: 5 / span 4;
    }

    .two-thirds.centered {
        grid-column: 3 / span 8;
    }

    /* PUSH */
    .push-1 {
        grid-column-start: 2;
    }

    .push-2 {
        grid-column-start: 3;
    }

    .push-3 {
        grid-column-start: 4;
    }

    .push-4 {
        grid-column-start: 5;
    }

    .push-5 {
        grid-column-start: 6;
    }

    .push-6 {
        grid-column-start: 7;
    }

    .push-7 {
        grid-column-start: 8;
    }

    .push-8 {
        grid-column-start: 9;
    }

    .push-9 {
        grid-column-start: 10;
    }

    .push-10 {
        grid-column-start: 11;
    }

    .push-11 {
        grid-column-start: 12;
    }

    .row.swapped>*:first-child {
        order: 2;
    }

    .row.swapped>*:last-child {
        order: 1;
    }


}

.demo>* {
    background-color: rgba(255, 255, 255, .8);
    padding: 1em;
    text-align: center;
}

/*

-----------------------------
-----------------------------
------HH-------------HH-----
------HH-------------HH------
------HH-------------HH------
-----------------------------
------HHHHHHHHHHHHHHHHH------
----HHH---------------HHH----
---HH-------------------HH---
-----------------------------
-----------------------------

SITE STRUCTURE 

-----------------------------
-----------------------------
------HH-------------HH-----
------HH-------------HH------
------HH-------------HH------
-----------------------------
------HHHHHHHHHHHHHHHHH------
----HHH---------------HHH----
---HH-------------------HH---
-----------------------------
-----------------------------

*/

/*.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
    */

/* SITE HEADER */
.site-header {


    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    padding: var(--unit-small);


    /* REMOVE TEXT DECORATION */

    a {
        text-decoration: none;
    }

    /* SITE LOGO */

    .site-logo {
        display: flex;
        align-items: center;
        gap: 1em;

        h1 {
            font-size: 2em;
            margin: 0;
            text-wrap: nowrap;
        }
    }

    /* SITE-NAV */
    .site-nav {

        ul {
            margin: 0;
            list-style: none;
            padding: 0;
        }

        @media (min-width:768px) {
            ul {
                display: flex;
            }
        }

        a {
            display: block;
            padding: 1em;
        }

        /* TOGLE MENU */


        .site-menu-button {
            display: flex;
            flex-direction: row-reverse;
        }

        &.toggle-menu {
            .site-menu-button {
                display: block;
                padding: .5em;
                position: relative;
                z-index: 100;

                &:hover {
                    cursor: pointer;
                }
            }

            .site-menu {
                position: fixed;
                top: 0;
                right: 0;
                background-color: teal;
                width: 100%;
                min-height: 100svh;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 4vw;

                a {
                    padding: 2vh 2vw;
                }
            }

            &[data-menustate="open"] {
                .site-menu-button {
                    position: fixed;
                    z-index: 100;
                }

                .site-menu {
                    transform: translateX(0);
                    transition: .5s;
                }


            }

            &[data-menustate="closed"] {
                .site-menu {

                    transform: translateX(100%);
                    transition: .5s;
                }
            }

        }
    }

    /* IF TOGGLE MENU DISPLAY LOGO ON LEFT AND MENU ON RIGHT ON ALL SCREENS*/
    &:has(.toggle-menu) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

/* SITE HEADER ON TOP OF HEADER */

.site-header.on-top-of-hero {
    @media (min-width: 768px) {
        position: absolute;
        width: 100%;

        &+.site-main>.hero {
            padding-top: clac(4em + var (--unit-large));
        }
    }

    @media (max-width: 768px) {
        a {
            color: var(--color-links-dark);
        }
    }

}

/* SITE MAIN */
.site-main {
    background-color: teal;
}

/* SECTIONS */
section {
    padding: var(--unit-large) var(--unit-small);
}

/*  SECTIONS */
.hero {
    background-color: var(--color-hero-background);
    padding-top: calc(4em + var(--unit-large));

    h1,
    h2,
    h3,
    p {
        color: var(--color-hero-text);
    }
}

/* SITE FOOTER */
.site-footer {
    background-color: var(--color-sitefooter-background);

    padding: var(--unit-small);

    h1,
    h2,
    h3,
    p {
        color: var(--color-sitefooter-text);
    }

    a {
        color: var(--color-sitefooter-links);
    }

    a:hover {
        color: var(--color-links-hover);
    }
}


/* UI COMPONENTS */

/* BUTTONS */

.button {
    border: 0px solid var(--color-links);
    display: inline-block;
    padding: var(--unit-small);
    color: var(--color-links);
    background-color: var(--color-text-headings);
    text-decoration: none;

    &+.button {
        margin-left: var(--unit-small);
    }

    &:hover {
        background-color: var(--color-links-hover);
        color: var(--color-links);
    }

    &.light {
        border-color: var(--color-links-light);
        background-color: var(--color-links-light);
        color: var(--color-links-dark);

        &:hover {
            background-color: var(--color-links-hover);
        }
    }
}