/* 
-----------------------------
-----------------------------
------HH-------------HH-----
------HH-------------HH------
------HH-------------HH------
-----------------------------
---HH-------------------HH---
----HHH---------------HHH----
------HHHHHHHHHHHHHHHHH------
-----------------------------
-----------------------------


CSS TABLE OF CONTENTS

# GLOBAL STYLES
    # GLOBAL VARIABLES
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOOBAL MEDIA

#LAYOUT
    # MEDIA QUERIES / BREAKPOINTS
    # CONTAINER
    # GRID

-----------------------------
-----------------------------
------HH-------------HH-----
------HH-------------HH------
------HH-------------HH------
-----------------------------
------HHHHHHHHHHHHHHHHH------
----HHH---------------HHH----
---HH-------------------HH---
-----------------------------
-----------------------------
*/

/* GLOBAL VARIABLES */

:root {
    --color-body-background: rgba(243, 239, 208, 1);
    --color-text-body: rgb(0 0 0 / .8);
    --color-text-headings: rgb(0 0 0 / .8);
    --color-links: rgb(201, 137, 0);
    --color-links-hover: rgb(173, 173, 173);

    --font-body: Helvetica, Arial, sans-serif;
    --font-headings: Georgia, serif;

    --container-width: 1200px;

}

/* GLOBAL RESET */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* GLOBAL COLORS */

body {
    background-color: var(--color-body-background);
    color: var(--color-text-body);
}

h1,
h2,
h3 {
    color: var(--color-text-headings);
}

a {
    color: var(--color-links);

    &:hover {
        color: var(--color-links-hover);
    }
}

/* GLOBAL TYPOGRAPHY */

body {
    font-family: var(--font-body);

    line-height: 1.4;
}

h1,
h2,
h3 {
    font-family: var(--font-headings);

}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

h2 {
    font-size: 2em;
    line-height: 1.2;
}

h3 {
    font-size: 1.5em;
    line-height: 1.3;
}

p {
    max-width: 65ch;

    text-wrap: pretty;
}

/* GLOOBAL MEDIA */

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */

/* SMALL SCREEN 768px */

body {
    font-size: 87.5%;
}

/* MEDIUM SCREEN 1200px */

@media (min-width: 768px) {
    body {
        font-size: 100%;
    }
}


/* LARGE SCREEN +1200px */

@media (min-width: 1200px) {
    body {
        font-size: 112.5%;
    }
}

.container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

/* GRID */

.row {
    --gridgap: 1em;
}

.row>* {
    margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap)
    }

    .one-half {
        grid-column: span 6 / span 6;
    }

    .one-third {
        grid-column: span 4 / span 4;
    }

    .two-thirds {
        grid-column: span 8 / span 8;
    }

    .one-fourth {
        grid-column: span 3 / span 3;
    }

    .three-fourths {
        grid-column: span 9 / span 9;
    }
}

.demo>* {
    background-color: rgba(255, 255, 255, .8);
    padding: 1em;
    text-align: center;
}